// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #ec8b8b;
$background: #e6eff2;
$gray-dark: #526166;
$gray-medium: #71868d;
$gray-light: #a4b5ba;
$gray-faint: #d0d7d9;

// Misc
$border-radius: 5px;