// Fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand:300');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Common
@import '_variables';
@import '_typography';
@import '_buttons';
@import '_header';
@import '_pills';
@import '_forms';

// Page partials
@import 'partials/recipe-form';

html {
	height: 100%;
}

body {
	background: $background;
	height: 100%;
}

@media (min-width: 768px) {
	.w-md-200 { width: 200px; }
	.w-md-250 { width: 250px; }
	.w-md-300 { width: 300px; }
	.w-md-350 { width: 350px; }
	.w-md-400 { width: 400px; }
	.w-md-450 { width: 450px; }
	.w-md-500 { width: 500px; }
	.w-md-600 { width: 600px; }
}

.simple-page {
	.body {
		margin-bottom: 0.5em;

		h1 {
			margin-bottom: 2rem;
		}
	}
}

.resource-page {
	padding-bottom: 4em;

	.resource-page__header {
		margin-bottom: 2em;
		text-align: center;
	}

	.resource-page__list {
		border-radius: $border-radius;
		margin-top: 2em;
		margin-bottom: 2em;
		background: #fff;
	}

	.resource-page__list-empty {
		background: transparent;
		color: $gray-medium;
		border: 1px solid $gray-faint;
		padding: 2em;
		margin-top: 0;
		text-align: center;
	}
}

.logo {
	margin-top: 1rem;
	margin-bottom: 3rem;

	h1 {
		font-size: 3em;
		font-weight: bold;
		margin: 0;
	}

	h3 {
		margin: 0;
		margin-top: 0.5em;
	}
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@media (max-width: 320px) {
	.simple-page {
		.body {
			h1 {
				font-size: 2em;
				margin-bottom: 1rem;
			}
		}

		.logo {
			margin-top: 0.75rem;
			margin-bottom: 1.5rem;
		}
	}
}

