// Fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Variables
@import '_variables';
@import '_typography';
@import '_buttons';
@import '_pills';
@import '_forms';

html {
	height: 100%;
}

body {
	background: $background;
	height: 100%;
}

@media (min-width: 768px) {
	.w-md-200 { width: 200px; }
	.w-md-250 { width: 250px; }
	.w-md-300 { width: 300px; }
	.w-md-350 { width: 350px; }
	.w-md-400 { width: 400px; }
	.w-md-450 { width: 450px; }
	.w-md-500 { width: 500px; }
	.w-md-600 { width: 600px; }
}

.simple-page {
	.header {
		text-align: center;
	}

	.header,
	.footer {
		min-height: 100px;
	}
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.dropdown-toggle:after {
	display: none;
}

.v-select .dropdown-toggle .clear {
	display: none;
}

.ingredient-selector {
	display: flex;
	align-items: center;
	margin-bottom: 0.5em;
}

.ingredient-dropdown {
	flex: 1;
}

.ingredient-remove {
	margin-left: 1em;
	color: red;
	cursor: pointer;
}